<div *ngIf="!seleccionado && !new " class="flex justify-center rounded ml-10 mr-10 " style="margin-top: 40%;border: 1px solid #9E4F6E;border-radius: 5px;padding: 5px; background-color: #B7C3F3">
    <div class="pb-5 pt-5">
        Selecciona un vecino o crea uno
        <button class="rounded hover:bg-grey-light" style="border: 1px solid #9E4F6E;border-radius: 5px;padding: 5px; "
            (click)="newRegistro()">
            <i class="fas fa-newspaper"></i>
            Nuevo
        </button>
    </div>
</div>
<div class="flex">
    <div *ngIf="new">
        <app-new-poblacion></app-new-poblacion>
    </div>
</div>
<div *ngIf="seleccionado">
    <div class="flex relative">
        <div class="  absolute pin-t pin-r" style="padding-right: 110px;">
            <div class="fixed" style="border: 1px solid #9E4F6E;border-radius: 5px;padding: 5px; background-color: #B7C3F3">
                <button (click)="newRegistro()">
                    <div class="flex">
                        <div>
                            <i class="fas fa-newspaper"></i>
                        </div>
                        <div>
                            Nuevo
                        </div>
                    </div>
                </button>
            </div>
        </div>
        <form [formGroup]="formularioPoblacion">
            <div class="flex flex-col m-3 border-l-2 border-black h-16" style="border-color:#9E4F6E;">
                <div class="pl-3 pt-2 font-bold w-48">
                    <p>Cod provincia:</p>
                </div>
                <div class="pl-3 pt-2">
                    <input class="pl-2 border-b-2 focus:outline-none " formControlName="cod_provincia" style="background-color:#B7C3F3;border-bottom-color:#9E4F6E">
                </div>
            </div>
            <div class="flex flex-col m-3 border-l-2 border-black h-16" style="border-color:#9E4F6E;">
                <div class="pl-3 pt-2 font-bold w-48">
                    <p>Descripcion:</p>
                </div>
                <div class="pl-3 pt-2">
                    <input class="pl-2 border-b-2 focus:outline-none " formControlName="descripcion" style="background-color:#B7C3F3;border-bottom-color:#9E4F6E">
                </div>
            </div>
            <div class="flex flex-col m-3 border-l-2 border-black h-16" style="border-color:#9E4F6E;">
                <div class="pl-3 pt-2 font-bold w-48">
                    <p>Cod postal:</p>
                </div>
                <div class="pl-3 pt-2">
                    <input class="pl-2 border-b-2 focus:outline-none " formControlName="cod_postal" style="background-color:#B7C3F3;border-bottom-color:#9E4F6E">
                </div>
            </div>
        </form>
    </div>
    <div class="flex justify-center p-5">
        <button (click)="edit()" class="rounded hover:bg-grey-light" style="border: 1px solid #9E4F6E;border-radius: 5px;padding: 5px; ">
            <i class="fas fa-edit"></i>
            Edit
        </button>
    </div>
</div>
<p-toast position="bottom-right" [style]="{marginTop: '80px'}">
</p-toast>