<div class="flex">
  <div class="w-2/5 border rounded m-1" style="border-color: #404E5C; border-width:2px;">
    <div *ngFor="let provincia of provincias" class="p-2">
      <div class="flex">
        <div class="w-3/5">
          <div class="flex" id="borde">
            <div class="text-lg font-bold pl-3 mt-2 mb-2">
              Cod Provincia
            </div>
            <div class="font-mono ml-2 mt-2 mb-2">
              {{provincia.cod_provincia}}
            </div>
          </div>
          <div class="flex" id="borde">
            <div class="text-lg font-bold pl-3 mt-2 mb-2">
              Descripcion:
            </div>
            <div class="font-mono ml-2 mt-2 mb-2">
              {{provincia.descripcion}}
            </div>
          </div>
        </div>
        <div class="w-1/5 ">
          <button (click)="edit(provincia)" class="p-4 hover:rosa-jesus">
            <i class="fas fa-edit fa-3x"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="w-3/5">
    <app-edit-provincia [seleccionado]="parentMessage" [hijo]="padre"></app-edit-provincia>
  </div>
</div>