<div class="flex justify-center mt-2">
  <div class="flex rounded" id="borde">
    <div class="w-2/4">
      <div class="cursor-pointer p-2" (click)="graficoTipoFactura()">
        Tipo facturas
      </div>
    </div>
    <div class="w-2/4">
      <div class="cursor-pointer p-2" style="border-left: 1px solid black;" (click)="graficoCobrado()">
        Grafico cobrado
      </div>
    </div>
  </div>
</div>
<div class="flex justify-center" style="height:350px;">
  <div class="flex border border-red rounded mt-2" *ngIf="dataDoughnut" id="borde_grafico">
    <div class="flex">
      <p-chart type="doughnut" [data]="dataDoughnut" width="300px" height="300px" [responsive]="false"
        [options]="optionsDoughnut"></p-chart>
    </div>
  </div>
</div>