<div class="flex border border-black">
  <div>
    <button (click)="graficoTipoFactura()">
      Tipo facturas
    </button>
  </div>
  <div>
    <button (click)="graficoCobrado()">
      Grafico cobrado
    </button>
  </div>
</div>
<div class="flex" style="height:350px">
  <div class="flex-col border border-black " style="width: 100px;">
    <div class="flex">
      <i class="fas fa-chart-pie"></i>
    </div>
    <div class="flex">
      <img src="assets/icons/polar_area.png" style="width: 30px;height: 30px;">
    </div>
  </div>
  <div class="flex border border-red" style="width: 700px;">
    <div class="flex">
      <p-chart type="doughnut" [data]="dataCobrado" *ngIf="dataCobradoDoughnut" width="300px" height="300px"
        [responsive]="false" [options]="optionsdataCobradoDoughnut"></p-chart>
    </div>
    <div class="flex">
      <p-chart type="doughnut" [data]="dataTipoFactura" *ngIf="dataTipoFacturaDoughnut" width="300px" height="300px"
        [responsive]="false" [options]="optionsdataTipoFacturaDoughnut"></p-chart>
    </div>
  </div>
</div>