<div class="flex border border-black">
  <div>
    <div>
      Tipo de factura:
      <div>
        <button (click)="graficoTipoFactura()">
          Tipo facturas
        </button>
      </div>
    </div>
    <div>
      Cobrado:
      <div>
        Desde:
        <p-calendar [(ngModel)]="desdeFechaCobrado" [locale]="es"></p-calendar>
        Hasta:
        <p-calendar [(ngModel)]="hastaFechaCobrado" [locale]="es"></p-calendar>
      </div>
      <div>
        <button (click)="graficoCobrado()">
          Grafico cobrado
        </button>
      </div>
    </div>
    <div>
      Proveedor:
      <select class="" (change)="onChange('proveedor')" [(ngModel)]="proveedorSelect">
        <option value="0">Selecciona ...</option>
        <option *ngFor="let proveedor of proveedores" value="{{proveedor.id}}">{{proveedor.direccion}}</option>
      </select>
    </div>
  </div>
</div>
<div class="flex">
  <!-- <p-chart type="doughnut" [data]="data"></p-chart> -->
  <p-chart type="doughnut" [data]="dataCobrado"></p-chart>
  <p-chart type="doughnut" [data]="dataTipoFactura"></p-chart>
</div>