<form [formGroup]="formularioPerfil">
  <div class="flex">
    <div>
      Nombre
    </div>
    <div>
      <input formControlName="nombre">
    </div>
  </div>
  <div class="flex">
    <div>
      direccion
    </div>
    <div>
      <input formControlName="direccion">
    </div>
  </div>
  <div class="flex">
    <div>
      numero
    </div>
    <div>
      <input formControlName="numero">
    </div>
  </div>
  <div class="flex">
    <div>
      nif
    </div>
    <div>
      <input formControlName="nif">
    </div>
  </div>
  <div class="flex">
    <div>
      iban
    </div>
    <div>
      <input formControlName="iban">
    </div>
  </div>
  <div class="flex">
    <div>
      email
    </div>
    <div>
      <input formControlName="email">
    </div>
  </div>
  <div class="flex">
    <div>
      telefono
    </div>
    <div>
      <input formControlName="telefono">
    </div>
  </div>
  <div class="flex">
    <div>
      login
    </div>
    <div>
      <input formControlName="login">
    </div>
  </div>
  <div class="flex">
    <div>
      pass
    </div>
    <div>
      <input formControlName="pass">
    </div>
  </div>
</form>
<div class="cursor-pointer" (click)="editar()">
Editar
</div>