<div class="flex rounded m-2 h-16" id="borde">
  <div class="flex content-center cursor-pointer mt-2" (click)="filtro()">
    <div class="ml-2 font-bold ml-2 mt-2">
      Filtrar
    </div>
    <div class="ml-2 mt-2">
      <i class="fas fa-caret-right fa-lg" *ngIf="!oFiltro"></i>
      <i class="fas fa-caret-left fa-lg" *ngIf="oFiltro"></i>
    </div>
  </div>
  <div class="flex w-full" *ngIf="oFiltro">
    <div class="flex-1">
      <div class="flex justify-center font-bold p-1">
        Tipo de factura:
      </div>
      <div class="flex justify-center">
        <select class="rounded" style="border: 2px solid #9E4F6E;" (change)="onChange('tipofactura')" [(ngModel)]="tipofacturaSelect">
          <option value="0">Selecciona ...</option>
          <option *ngFor="let tipofactura of tipofacturas" value="{{tipofactura.id}}">{{tipofactura.descripcion}}</option>
        </select>
      </div>
    </div>
    <div class="flex flex-row">
      <div class="flex-1">
        <div class="flex justify-center font-bold">
          Desde:
        </div>
        <div class="flex justify-center rounded" style="border: 2px solid #9E4F6E;">
          <p-calendar [(ngModel)]="desdeFecha" [locale]="es" (onSelect)="onChange('desdeFecha')"></p-calendar>
        </div>
      </div>
      <div class="flex-1">
        <div class="flex justify-center font-bold">
          Hasta:
        </div>
        <div class="flex justify-center rounded" style="border: 2px solid #9E4F6E;">
          <p-calendar [(ngModel)]="hastaFecha" [locale]="es" (onSelect)="onChange('hastaFecha')"></p-calendar>
        </div>
      </div>
    </div>
    <div class="flex-1">
      <div class="flex justify-center font-bold p-1">
        Cobrado:
      </div>
      <div class="flex justify-center">
        <select class="rounded" style="border: 2px solid #9E4F6E;" (change)="onChange('cobrado')" [(ngModel)]="cobradoSelect">
          <option value="0">Selecciona ...</option>
          <option value="s">Si</option>
          <option value="n">No</option>
        </select>
      </div>
    </div>
    <div class="flex-1">
      <div class="flex justify-center font-bold p-1">
        Proveedor:
      </div>
      <div class="flex justify-center">
        <select class="rounded" style="border: 2px solid #9E4F6E;" (change)="onChange('proveedor')" [(ngModel)]="proveedorSelect">
          <option value="0">Selecciona ...</option>
          <option *ngFor="let proveedor of proveedores" value="{{proveedor.id}}">{{proveedor.direccion}}</option>
        </select>
      </div>
    </div>
    <div class="w-30 content-center">
      <div class=" flex cursor-pointer rounded justify-center p-2 mt-2 mr-2" style="border: 2px solid #9E4F6E;" (click)="reiniciarFiltros()">
        <div class="font-bold">
          Reiniciar filtros
        </div>
        <div class="ml-5">
          <i class="fas fa-redo-alt fa-lg"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<p-scrollPanel [style]="{width: '100%', height: '445px'}" styleClass="custom">
<div class="flex m-2 p-2 rounded" *ngFor="let factura of facturas" id="borde">
    <div class="flex-col mr-2 w-48" id="borde_izquierdo">
      <div class="flex m-2 font-bold">
        Fecha registro
      </div>
      <div class="flex m-2">
        {{factura.fecha_registro | fechaPipe}}
      </div>
    </div>
    <div class="flex-col mr-2 w-48" id="borde_izquierdo">
      <div class="flex m-2 font-bold">
        tipofactura
      </div>
      <div class="flex m-2">
        {{factura.tipofactura.descripcion}}
      </div>
    </div>
    <div class="flex-col mr-2 w-48" id="borde_izquierdo">
      <div class="flex m-2 font-bold">
        proveedor
      </div>
      <div class="flex m-2">
        <div>
          {{factura.proveedor.telefono}}
        </div>
        <div class="cursor-pointer ml-5" (click)="selected(factura.proveedor, 'proveedor')">
          <i class="fas fa-search-plus fa-lg" #proveedor></i>
        </div>
      </div>
    </div>
    <div class="flex-col mr-2 w-48" id="borde_izquierdo">
      <div class="flex m-2 font-bold">
        comunidad
      </div>
      <div class="flex m-2">
        <div>
          {{factura.comunidad.nombre}}
        </div>
        <div class="cursor-pointer ml-5" (click)="selected(factura.comunidad, 'comunidad')">
          <i class="fas fa-search-plus fa-lg" #comunidad></i>
        </div>
      </div>
    </div>
    <div class="flex-col mr-2 w-48" id="borde_izquierdo">
      <div class="flex m-2 font-bold">
        numero factura
      </div>
      <div class="flex m-2">
        {{factura.num_factura}}
      </div>
    </div>
    <div class="flex-col mr-2 w-48" id="borde_izquierdo">
      <div class="flex m-2 font-bold">
        cobrado
      </div>
      <div class="flex m-2">
        {{factura.cobrado}}
      </div>
    </div>
  </div>
</p-scrollPanel>

<p-dialog [(visible)]="display_proveedor" [modal]="true" [style]="{width: '500px', height: '200px'}" [positionTop]=10>
  <p-header>
    Proveedor
  </p-header>
  <div class="flex-col  m-3 border rounded" style="border-color:#9E4F6E;">
    <div class="p-3 font-bold justify-center">
      <div class="flex ">
        <div class="w-1/4 flex justify-center">
          <div>
            Direccion
          </div>
        </div>
        <div class="w-1/4 flex justify-center">
          <div>
            Telefono
          </div>
        </div>
        <div class="w-1/4 flex justify-center">
          <div>
            Email
          </div>
        </div>
        <div class="w-1/4 flex justify-center">
          <div>
            Poblacion
          </div>
        </div>
      </div>
      <div class="border-b w-full mt-2" style="border-color:#9E4F6E;">
      </div>
      <div class="flex">
        <div class="w-1/4 flex justify-center">
          {{proveedorSeleccionado.direccion}}
        </div>
        <div class="w-1/4 flex justify-center">
          {{proveedorSeleccionado.telefono}}
        </div>
        <div class="w-1/4 flex justify-center">
          {{proveedorSeleccionado.email}}
        </div>
        <div class="w-1/4 flex justify-center">
          {{proveedorSeleccionado.poblacion}}
        </div>
      </div>
    </div>
  </div>
</p-dialog>


<p-dialog [(visible)]="display_comunidad" [modal]="true" [style]="{width: '500px', height: '200px'}" [positionTop]=10>
  <p-header>
    Comunidad
  </p-header>
  <div class="flex-col  m-3 border rounded" style="border-color:#9E4F6E;">
    <div class="p-3 font-bold justify-center">
      <div class="flex ">
        <div class="w-1/4 flex justify-center">
          <div>
            Nombre
          </div>
        </div>
        <div class="w-1/4 flex justify-center">
          <div>
            Direccion
          </div>
        </div>
        <div class="w-1/4 flex justify-center">
          <div>
            Nif
          </div>
        </div>
        <div class="w-1/4 flex justify-center">
          <div>
            Iban
          </div>
        </div>
        <div class="w-1/4 flex justify-center">
          <div>
            Sufijo
          </div>
        </div>
        <div class="w-1/4 flex justify-center">
          <div>
            Poblacion
          </div>
        </div>
      </div>
      <div class="border-b w-full mt-2" style="border-color:#9E4F6E;">
      </div>
      <div class="flex">
        <div class="w-1/4 flex justify-center">
          {{comunidadSeleccionado.nombre}}
        </div>
        <div class="w-1/4 flex justify-center">
          {{comunidadSeleccionado.direccion}}
        </div>
        <div class="w-1/4 flex justify-center">
          {{comunidadSeleccionado.nif}}
        </div>
        <div class="w-1/4 flex justify-center">
          {{comunidadSeleccionado.iban}}
        </div>
        <div class="w-1/4 flex justify-center">
          {{comunidadSeleccionado.sufijo}}
        </div>
        <div class="w-1/4 flex justify-center">
          {{comunidadSeleccionado.poblacion}}
        </div>
      </div>
    </div>
  </div>
</p-dialog>