<div class="flex relative">
    <div>
        <form [formGroup]="formularioComunidad">
            <div class="flex-col m-3 border-l-2 border-black h-16" style="border-color:#9E4F6E;">
                <div class="pl-3 pt-2 font-bold w-48">
                    <p>Poblacion:</p>
                </div>
                <div class="pl-3 pt-2">
                    <div>
                        <div class="flex">
                            <div>
                                <input class="pl-2 border-b-2 focus:outline-none" formControlName="poblacion" style="background-color:#B7C3F3;border-bottom-color:#9E4F6E;width: 120px;">
                            </div>
                            <div class="ml-4">
                                <button (click)="showDialog()">
                                    <i class="fas fa-search fa-lg"></i>
                                </button>
                            </div>
                        </div>
                        <div class="mt-2 mb-2" style="width: 200px;" *ngIf="formularioComunidad.get('poblacion').hasError('required')">
                            <p-message severity="error" text="Poblacion es obligatorio"></p-message>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col m-3 border-l-2 border-black h-16" style="border-color:#9E4F6E;">
                <div class="pl-3 pt-2 font-bold w-48">
                    <p>Direccion:</p>
                </div>
                <div class="pl-3 pt-2">
                    <input class="pl-2 border-b-2 focus:outline-none" formControlName="direccion" style="background-color:#B7C3F3;border-bottom-color:#9E4F6E; width:300px;">
                    <div class="mt-2 mb-2" style="width: 200px;" *ngIf="formularioComunidad.get('direccion').hasError('required') && formularioComunidad.get('direccion').touched">
                        <p-message severity="error" text="Direccion es obligatoria"></p-message>
                    </div>
                </div>
            </div>
            <div class="flex flex-col m-3 border-l-2 border-black h-16" style="border-color:#9E4F6E;">
                <div class="pl-3 pt-2 font-bold w-48">
                    <p>Nombre:</p>
                </div>
                <div class="pl-3 pt-2">
                    <input class="pl-2 border-b-2 focus:outline-none" formControlName="nombre" style="background-color:#B7C3F3;border-bottom-color:#9E4F6E; width:300px;">
                    <div class="mt-2 mb-2" style="width: 200px;" *ngIf="formularioComunidad.get('nombre').hasError('required') && formularioComunidad.get('nombre').touched">
                        <p-message severity="error" text="Nombre es obligatorio"></p-message>
                    </div>
                </div>
            </div>
            <div class="flex flex-col m-3 border-l-2 border-black h-16" style="border-color:#9E4F6E;">
                <div class="pl-3 pt-2 font-bold w-48">
                    <p>Nif:</p>
                </div>
                <div class="pl-3 pt-2">
                    <input class="pl-2 border-b-2 focus:outline-none" formControlName="nif" style="background-color:#B7C3F3;border-bottom-color:#9E4F6E; width:300px;">
                    <div class="mt-2 mb-2" style="width: 200px;" *ngIf="formularioComunidad.get('nif').hasError('required') && formularioComunidad.get('nif').touched">
                        <p-message severity="error" text="Nif es obligatorio"></p-message>
                    </div>
                </div>
            </div>
            <div class="flex flex-col m-3 border-l-2 border-black h-16" style="border-color:#9E4F6E;">
                <div class="pl-3 pt-2 font-bold w-48">
                    <p>Iban:</p>
                </div>
                <div class="pl-3 pt-2">
                    <input class="pl-2 border-b-2 focus:outline-none" formControlName="iban" style="background-color:#B7C3F3;border-bottom-color:#9E4F6E; width:300px;">
                    <div class="mt-2 mb-2" style="width: 200px;" *ngIf="formularioComunidad.get('iban').hasError('required') && formularioComunidad.get('iban').touched">
                        <p-message severity="error" text="nif es obligatorio"></p-message>
                    </div>
                </div>
            </div>
            <div class="flex flex-col m-3 border-l-2 border-black h-16" style="border-color:#9E4F6E;">
                    <div class="pl-3 pt-2 font-bold w-48">
                        <p>Sufijo:</p>
                    </div>
                    <div class="pl-3 pt-2">
                        <input class="pl-2 border-b-2 focus:outline-none" formControlName="sufijo" style="background-color:#B7C3F3;border-bottom-color:#9E4F6E; width:300px;">
                        <div class="mt-2 mb-2" style="width: 200px;" *ngIf="formularioComunidad.get('sufijo').hasError('required') && formularioComunidad.get('sufijo').touched">
                            <p-message severity="error" text="Sufijo es obligatorio"></p-message>
                        </div>
                    </div>
                </div>
        </form>
        <div class="flex justify-center p-5">
            <button (click)="nuevaComunidad()" [disabled]="!formularioComunidad.valid" class="rounded hover:bg-grey-light" style="border: 1px solid #9E4F6E;border-radius: 5px;padding: 5px; ">
                <i class="fas fa-edit"></i>
                Nueva
            </button>
        </div>
    </div>
</div>


<p-dialog [(visible)]="display_poblacion" [modal]="true" [style]="{width: '500px', height: '200px'}" [positionTop]=10>
    <p-header>
        Poblacion:
    </p-header>
    <div class="flex-col  m-3 border rounded" style="border-color:#9E4F6E;">
        <div class="p-3 font-bold justify-center">
            <div class="flex ">
                <div class="w-1/4 flex justify-center">Cod postal</div>
                <div class="w-1/4 flex justify-center">
                    <div>
                        Descripcion
                    </div>
                </div>
                <div class="w-1/4 flex justify-center">
                    <div>
                        Provincia
                    </div>
                </div>
                <div class="w-1/4 flex justify-center">
                    <div>
                        Selecciona
                    </div>
                </div>
            </div>
            <div class="border-b w-full mt-2" style="border-color:#9E4F6E;">
            </div>
            <div class="flex" *ngFor="let poblacion of poblaciones">
                <div class="w-1/4 flex justify-center">
                    {{poblacion.cod_postal}}
                </div>
                <div class="w-1/4 flex justify-center">
                    {{poblacion.descripcion}}
                </div>
                <div class="w-1/4 flex justify-center">
                    {{poblacion.cod_provincia.descripcion}}
                </div>
                <div class="w-1/4 flex justify-center">
                    <button (click)="savePoblacion(poblacion)">
                        <i class="fas fa-check"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</p-dialog>


<p-toast position="bottom-right" [style]="{marginTop: '80px'}">
</p-toast>