<div class="flex border border-black">
  <div class="border border-yellow" (click)="filtro()">
    Filtrar
    <i class="fas fa-caret-right"></i>
  </div>
  <div *ngIf="oFiltro">
    Tipo de factura:
    <select class="" (change)="onChange('tipofactura')" [(ngModel)]="tipofacturaSelect">
      <option value="0">Selecciona ...</option>
      <option *ngFor="let tipofactura of tipofacturas" value="{{tipofactura.descripcion}}">{{tipofactura.descripcion}}</option>
    </select>
    <div>
      Desde:
      <p-calendar [(ngModel)]="desdeFecha" [locale]="es"></p-calendar>
      Hasta:
      <p-calendar [(ngModel)]="hastaFecha" [locale]="es"></p-calendar>
    </div>
    <div>
      Cobrado:
      <select class="" (change)="onChange('cobrado')" [(ngModel)]="cobradoSelect">
        <option value="0">Selecciona ...</option>
        <option value="s">Si</option>
        <option value="n">No</option>
      </select>
    </div>
    <div>
      Proveedor:
      <select class="">
        <option value="0">Selecciona ...</option>
        <option *ngFor="let proveedor of proveedores" value="proveedor.id">{{proveedor.direccion}}</option>
      </select>
    </div>
  </div>
</div>

<div *ngFor="let factura of facturas">
  <div>
    fecha registro
    {{factura.fecha_registro | fechaPipe}}
  </div>
  <div>
    tipofactura
    {{factura.tipofactura.descripcion}}
  </div>
  <div>
    proveedor
    {{factura.proveedor.telefono}}
    <div class="cursor-pointer" (click)="selected(factura.proveedor, 'proveedor')">
      <i class="fas fa-caret-down" #proveedor></i>
    </div>
  </div>
  <div>
    base imponible 0
    {{factura.base_imponible0}}
  </div>
  <div>
    base imponible 1
    {{factura.base_imponible1}}
  </div>
  <div>
    base imponible 2
    {{factura.base_imponible2}}
  </div>
  <div>
    base imponible 0
    {{factura.base_imponible3}}
  </div>
  <div>
    tipo iva 1
    {{factura.tipo_iva1}}
  </div>
  <div>
    tipo iva 2
    {{factura.tipo_iva2}}
  </div>
  <div>
    tipo iva 3
    {{factura.tipo_iva3}}
  </div>
  <div>
    total
    {{factura.total}}
  </div>
  <div>
    comunidad
    {{factura.comunidad}}
    <div class="cursor-pointer" (click)="selected(factura.comunidad, 'comunidad')">
      <i class="fas fa-caret-down" #comunidad></i>
    </div>
  </div>
  <div>
    numero factura
    {{factura.num_factura}}
  </div>
  <div>
    cobrado
    {{factura.cobrado}}
  </div>
  <div>
    <button (click)="editFactura(factura)" class="ml-5 hover:rosa-jesus">
      <i class="fas fa-edit fa-2x"></i>
    </button>
  </div>

</div>

<p-dialog [(visible)]="display_proveedor" [modal]="true" [style]="{width: '500px', height: '200px'}" [positionTop]=10>
  <p-header>
    Proveedor
  </p-header>
  <div class="flex-col  m-3 border rounded" style="border-color:#9E4F6E;">
    <div class="p-3 font-bold justify-center">
      <div class="flex ">
        <div class="w-1/4 flex justify-center">
          <div>
            Direccion
          </div>
        </div>
        <div class="w-1/4 flex justify-center">
          <div>
            Telefono
          </div>
        </div>
        <div class="w-1/4 flex justify-center">
          <div>
            Email
          </div>
        </div>
        <div class="w-1/4 flex justify-center">
          <div>
            Poblacion
          </div>
        </div>
      </div>
      <div class="border-b w-full mt-2" style="border-color:#9E4F6E;">
      </div>
      <div class="flex">
        <div class="w-1/4 flex justify-center">
          {{proveedorSeleccionado.direccion}}
        </div>
        <div class="w-1/4 flex justify-center">
          {{proveedorSeleccionado.telefono}}
        </div>
        <div class="w-1/4 flex justify-center">
          {{proveedorSeleccionado.email}}
        </div>
        <div class="w-1/4 flex justify-center">
          {{proveedorSeleccionado.poblacion}}
        </div>
      </div>
    </div>
  </div>
</p-dialog>


<p-dialog [(visible)]="display_comunidad" [modal]="true" [style]="{width: '500px', height: '200px'}" [positionTop]=10>
  <p-header>
    Comunidad
  </p-header>
  <div class="flex-col  m-3 border rounded" style="border-color:#9E4F6E;">
    <div class="p-3 font-bold justify-center">
      <div class="flex ">
        <div class="w-1/4 flex justify-center">
          <div>
            Nombre
          </div>
        </div>
        <div class="w-1/4 flex justify-center">
          <div>
            Direccion
          </div>
        </div>
        <div class="w-1/4 flex justify-center">
          <div>
            Nif
          </div>
        </div>
        <div class="w-1/4 flex justify-center">
          <div>
            Iban
          </div>
        </div>
        <div class="w-1/4 flex justify-center">
          <div>
            Sufijo
          </div>
        </div>
        <div class="w-1/4 flex justify-center">
          <div>
            Poblacion
          </div>
        </div>
      </div>
      <div class="border-b w-full mt-2" style="border-color:#9E4F6E;">
      </div>
      <div class="flex">
        <div class="w-1/4 flex justify-center">
          {{comunidadSeleccionado.nombre}}
        </div>
        <div class="w-1/4 flex justify-center">
          {{comunidadSeleccionado.direccion}}
        </div>
        <div class="w-1/4 flex justify-center">
          {{comunidadSeleccionado.nif}}
        </div>
        <div class="w-1/4 flex justify-center">
          {{comunidadSeleccionado.iban}}
        </div>
        <div class="w-1/4 flex justify-center">
          {{comunidadSeleccionado.sufijo}}
        </div>
        <div class="w-1/4 flex justify-center">
          {{comunidadSeleccionado.poblacion}}
        </div>
      </div>
    </div>
  </div>
</p-dialog>