<div class="flex">
  <div class="w-2/5 ">
    <div class="border rounded m-1" style="border-color: #404E5C; border-width:2px;">
      <input #myInput placeholder="Item name..." [(ngModel)]="searchName"  >
    </div>
    <div class="border rounded m-1 p-2" style="border-color: #404E5C; border-width:2px;">
      <div *ngFor="let vecino of vecinos | BusquedaNombre: searchName: 'vecino'">
        <div class="flex">
          <div class="w-3/5">
            <div class="flex" id="borde">
              <div class="text-lg font-bold pl-3 mt-2 mb-2">
                Nombre:
              </div>
              <div class="font-mono ml-2 mt-2 mb-2">
                {{vecino.nombre}}
              </div>
            </div>
          </div>
          <div class="w-1/5 ">
            <button (click)="editVecino(vecino)" class="ml-5 hover:rosa-jesus">
              <i class="fas fa-edit fa-2x"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-3/5 overflow-auto m-1 rounded" style="height: 650px; border-color: #404E5C; border-width:2px;">
    <app-edit-vecino [seleccionado]="parentMessage" [vecinoHijo]="vecinoPadre"></app-edit-vecino>
  </div>
</div>