<div class="h-24 p-2 cursor-pointer" (click)="navegar('vecino')">
  <div class="flex justify-center">
    <i class="fas fa-user fa-3x"></i>
  </div>
  <div class="flex justify-center mt-2">
    <div class="font-bold" style="color:#9E4F6E">
      Vecino
    </div>
  </div>
</div>
<div class="h-24 p-2 cursor-pointer" (click)="navegar('comunidad')">
  <div class="flex justify-center">
    <i class="fas fa-city fa-3x"></i>
  </div>
  <div class="flex justify-center mt-2">
    <div class="font-bold" style="color:#9E4F6E">
      Comunidad
    </div>
  </div>
</div>
<div class="h-24 p-2 cursor-pointer" (click)="navegar('proveedor')">
  <div class="flex justify-center">
    <i class="fas fa-dolly fa-3x"></i>
  </div>
  <div class="flex justify-center mt-2">
    <div class="font-bold" style="color:#9E4F6E">
      Proveedor
    </div>
  </div>
</div>

<div class="h-24 p-2 cursor-pointer" (click)="navegar('tipofactura')">
  <div class="flex justify-center">
    <i class="fas fa-ellipsis-v fa-3x"></i>
  </div>
  <div class="flex justify-center mt-2">
    <div class="font-bold" style="color:#9E4F6E">
      Tipofactura/Tipovecino
    </div>
  </div>
</div>

<div class="h-24 p-2 cursor-pointer" (click)="navegar('poblacion-provincia')">
  <div class="flex justify-center">
    <i class="fas fa-map-marked-alt fa-3x"></i>
  </div>
  <div class="flex justify-center mt-2">
    <div class="font-bold" style="color:#9E4F6E">
      Poblacion/provincia
    </div>
  </div>
</div>