<div class="flex w-full justify-center">
  <div class="rounded border border-black w-2/4 m-2 p-2 sm:altura1 md:altura1 lg:altura2 xl:altura2" id="borde2">
    <div class="flex flex-col m-3 border-l-2 border-black h-16" style="border-color:#9E4F6E;">
      <div class="pl-3 pt-2 font-bold w-48">
        <p>Nombre</p>
      </div>
      <div class="pl-3 pt-2">
        <input class="border-b-2 focus:outline-none pl-2" style="background-color:#B7C3F3;border-bottom-color:#9E4F6E"
          #nombre>
      </div>
    </div>
    <div class="flex flex-col m-3 border-l-2 border-black h-32" style="border-color:#9E4F6E;">
      <div class="pl-3 pt-2 font-bold w-48">
        <p>Descripcion</p>
      </div>
      <div class="pl-3 pt-2">
        <textarea class="border-2 rounded focus:outline-none pl-2 w-full" id="borde2" rows="4" #cuerpo></textarea>
      </div>
    </div>

    <div class="flex flex-col sm:flex-col md:flex-row lg:flex-row xl:flex-row">
      <div class="flex flex-col m-3 border-l-2 border-black h-16 sm:w-full md:w-full lg:w-1/2 xl:w-1/2" style="border-color:#9E4F6E;">
        <div class="pl-3 pt-2 font-bold w-48">
          <p>Usuario email</p>
        </div>
        <div class="pl-3 pt-2">
          <input class="border-b-2 focus:outline-none pl-2" style="background-color:#B7C3F3;border-bottom-color:#9E4F6E"
            #usuario>
        </div>
      </div>

      <div class="flex flex-col m-3 border-l-2 border-black h-16 sm:w-full md:w-full lg:w-1/2 xl:w-1/2" style="border-color:#9E4F6E;">
        <div class="pl-3 pt-2 font-bold w-48">
          <p>Contraseña email</p>
        </div>
        <div class="pl-3 pt-2">
          <input type="password" class="border-b-2 focus:outline-none pl-2" style="background-color:#B7C3F3;border-bottom-color:#9E4F6E"
            #pass>
        </div>
      </div>

    </div>
    <div class="flex justify-center p-5">
      <button class="rounded hover:bg-grey-light" (click)="email(nombre.value,cuerpo.value,usuario.value,pass.value)"
        style="border: 1px solid #9E4F6E;border-radius: 5px;padding: 5px; ">
        <i class="fas fa-envelope"></i>
        Enviar
      </button>
    </div>
  </div>
</div>

<p-toast position="bottom-right" [style]="{marginTop: '80px'}">
</p-toast>