<p-scrollPanel [style]="{width: '100%', height: '630px'}" styleClass="custom">
    <div class="flex" class="relative">
        <div>
            <form [formGroup]="formularioVecino">
                <div class="flex mb-3 mt-3">
                    <div>
                        <div class="w-1/2">
                            <div class=" flex-col m-3 border-l-2 border-black h-16" style="border-color:#9E4F6E;">
                                <div class="pl-3 pt-2 font-bold w-48">
                                    <p>Nombre:</p>
                                </div>
                                <div class="pl-3 pt-2">
                                    <input class="pl-2 border-b-2 focus:outline-none" formControlName="nombre" style="background-color:#B7C3F3;border-bottom-color:#9E4F6E">
                                    <div class="mt-2 mb-2" style="width: 200px;" *ngIf="formularioVecino.get('nombre').hasError('required') && formularioVecino.get('nombre').touched ">
                                        <p-message severity="error" text="Nombre es obligatorio"></p-message>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="w-1/2">
                            <div class="flex-col m-3 border-l-2 border-black h-16" style="border-color:#9E4F6E;">
                                <div class="pl-3 pt-2 font-bold w-48">
                                    <p>Poblacion:</p>
                                </div>
                                <div class="pl-3 pt-2">
                                    <div>
                                        <div class="flex">
                                            <div>
                                                <input readonly class="pl-2 border-b-2 focus:outline-none  cursor-not-allowed"
                                                    formControlName="poblacion" style="background-color:#B7C3F3;border-bottom-color:#9E4F6E;width: 120px;">
                                            </div>
                                            <div class="ml-4">
                                                <button (click)="showDialog('poblacion')">
                                                    <i class="fas fa-search fa-lg"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="mt-2 mb-2" style="width: 200px;" *ngIf="formularioVecino.get('poblacion').hasError('required')  && formularioVecino.get('poblacion').touched">
                                            <p-message severity="error" text="Poblacion es obligatorio"></p-message>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex mb-3 mt-3">
                    <div>
                        <div class="w-1/2">
                            <div class=" flex-col m-3 border-l-2 border-black h-16" style="border-color:#9E4F6E;">
                                <div class="pl-3 pt-2 font-bold w-48">
                                    <p>Direccion:</p>
                                </div>
                                <div class="pl-3 pt-2">
                                    <input class="pl-2 border-b-2 focus:outline-none" formControlName="direccion" style="background-color:#B7C3F3;border-bottom-color:#9E4F6E">
                                    <div class="mt-2 mb-2" style="width: 200px;" *ngIf="formularioVecino.get('direccion').hasError('required') && formularioVecino.get('direccion').touched">
                                        <p-message severity="error" text="Direccion es obligatorio"></p-message>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="w-1/2">
                            <div class="flex-col m-3 border-l-2 border-black h-16" style="border-color:#9E4F6E;">
                                <div class="pl-3 pt-2 font-bold w-48">
                                    <p>Numero:</p>
                                </div>
                                <div class="pl-3 pt-2">
                                    <input class="pl-2 border-b-2 focus:outline-none" formControlName="numero" style="background-color:#B7C3F3;border-bottom-color:#9E4F6E">
                                    <div class="mt-2 mb-2" style="width: 200px;" *ngIf="formularioVecino.get('numero').hasError('required') && formularioVecino.get('numero').touched">
                                        <p-message severity="error" text="Numero es obligatorio"></p-message>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col m-3 border-l-2 border-black h-16" style="border-color:#9E4F6E;">
                    <div class="pl-3 pt-2 font-bold w-48">
                        <p>Iban:</p>
                    </div>
                    <div class="pl-3 pt-2">
                        <input class="pl-2 border-b-2 focus:outline-none" formControlName="iban" style="background-color:#B7C3F3;border-bottom-color:#9E4F6E; width:300px;">
                        <div class="mt-2 mb-2" style="width: 200px;" *ngIf="formularioVecino.get('iban').hasError('required') && formularioVecino.get('iban').touched">
                            <p-message severity="error" text="Iban es obligatorio"></p-message>
                        </div>
                    </div>
                </div>
                <div class="flex mb-3 mt-3">
                    <div>
                        <div class="w-1/2">
                            <div class=" flex-col m-3 border-l-2 border-black h-16" style="border-color:#9E4F6E;">
                                <div class="pl-3 pt-2 font-bold w-48">
                                    <p>Nif:</p>
                                </div>
                                <div class="pl-3 pt-2">
                                    <input class="pl-2 border-b-2 focus:outline-none" formControlName="nif" style="background-color:#B7C3F3;border-bottom-color:#9E4F6E">
                                    <div class="mt-2 mb-2" style="width: 200px;" *ngIf="formularioVecino.get('nif').hasError('required') && formularioVecino.get('nif').touched">
                                        <p-message severity="error" text="Nif es obligatorio"></p-message>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="w-1/2">
                            <div class=" flex-col m-3 border-l-2 border-black h-16" style="border-color:#9E4F6E;">
                                <div class="pl-3 pt-2 font-bold w-48">
                                    <p>Tipo vecino:</p>
                                </div>
                                <div class="pl-3 pt-2">
                                    <div>
                                        <div class="flex">
                                            <div>
                                                <input class="pl-2 border-b-2 focus:outline-none  cursor-not-allowed"
                                                    formControlName="id_tipovecino" style="background-color:#B7C3F3;border-bottom-color:#9E4F6E;width: 120px; ">
                                            </div>
                                            <div class="ml-4">
                                                <button (click)="showDialog('tipovecino')">
                                                    <i class="fas fa-search fa-lg"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="mt-2 mb-2" style="width: 200px;" *ngIf="formularioVecino.get('id_tipovecino').hasError('required')  && formularioVecino.get('id_tipovecino').touched">
                                            <p-message severity="error" text="Tipo de vecino es obligatorio"></p-message>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex mb-3 mt-3">
                    <div>
                        <div class="w-1/2">
                            <div class=" flex-col m-3 border-l-2 border-black h-16" style="border-color:#9E4F6E;">
                                <div class="pl-3 pt-2 font-bold w-48">
                                    <p>Comunidad:</p>
                                </div>
                                <div class="pl-3 pt-2">
                                    <div>
                                        <div class="flex">
                                            <div>
                                                <input class="pl-2 border-b-2 focus:outline-none  cursor-not-allowed"
                                                    formControlName="comunidad" style="background-color:#B7C3F3;border-bottom-color:#9E4F6E;width: 120px;">
                                            </div>
                                            <div class="ml-4">
                                                <button (click)="showDialog('comunidad')">
                                                    <i class="fas fa-search fa-lg"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="mt-2 mb-2" style="width: 200px;" *ngIf="formularioVecino.get('comunidad').hasError('required')  && formularioVecino.get('comunidad').touched">
                                            <p-message severity="error" text="Comunidad es obligatorio"></p-message>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="w-1/2">
                            <div class="flex-col m-3 border-l-2 border-black h-16" style="border-color:#9E4F6E;">
                                <div class="pl-3 pt-2 font-bold w-64">
                                    <p>Porcentaje participacion:</p>
                                </div>
                                <div class="pl-3 pt-2">
                                    <input class="pl-2 border-b-2 focus:outline-none" formControlName="porcentaje_participacion"
                                        style="background-color:#B7C3F3;border-bottom-color:#9E4F6E">
                                    <div class="mt-2 mb-2" style="width: 200px;" *ngIf="formularioVecino.get('porcentaje_participacion').hasError('required') && formularioVecino.get('porcentaje_participacion').touched">
                                        <p-message severity="error" text="Porcentaje participacion es obligatorio"></p-message>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex mb-3 mt-3">
                    <div>
                        <div class="w-1/2">
                            <div class=" flex-col m-3 border-l-2 border-black h-16" style="border-color:#9E4F6E;">
                                <div class="pl-3 pt-2 font-bold w-48">
                                    <p>Email</p>
                                </div>
                                <div class="pl-3 pt-2">
                                    <input class="pl-2 border-b-2 focus:outline-none" formControlName="email" style="background-color:#B7C3F3;border-bottom-color:#9E4F6E">
                                    <div class="mt-2 mb-2" style="width: 200px;" *ngIf="formularioVecino.get('email').hasError('required') && formularioVecino.get('email').touched">
                                        <p-message severity="error" text="Email es obligatorio"></p-message>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="w-1/2">
                            <div class="flex-col m-3 border-l-2 border-black h-16" style="border-color:#9E4F6E;">
                                <div class="pl-3 pt-2 font-bold w-48">
                                    <p>Telefono</p>
                                </div>
                                <div class="pl-3 pt-2">
                                    <input class="pl-2 border-b-2 focus:outline-none" formControlName="telefono" style="background-color:#B7C3F3;border-bottom-color:#9E4F6E">
                                    <div class="mt-2 mb-2" style="width: 200px;" *ngIf="formularioVecino.get('telefono').hasError('required') && formularioVecino.get('telefono').touched">
                                        <p-message severity="error" text="Telefono es obligatorio"></p-message>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex mb-3 mt-3">
                    <div>
                        <div class="w-1/2">
                            <div class=" flex-col m-3 border-l-2 border-black h-16" style="border-color:#9E4F6E;">
                                <div class="pl-3 pt-2 font-bold w-48">
                                    <p>Login</p>
                                </div>
                                <div class="pl-3 pt-2">
                                    <input class="pl-2 border-b-2 focus:outline-none" formControlName="login" style="background-color:#B7C3F3;border-bottom-color:#9E4F6E">
                                    <div class="mt-2 mb-2" style="width: 200px;" *ngIf="formularioVecino.get('login').hasError('required') && formularioVecino.get('login').touched">
                                        <p-message severity="error" text="Nombre de usuario es obligatorio"></p-message>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="w-1/2">
                            <div class="flex-col m-3 border-l-2 border-black h-16" style="border-color:#9E4F6E;">
                                <div class="pl-3 pt-2 font-bold w-48">
                                    <p>Pass</p>
                                </div>
                                <div class="pl-3 pt-2">
                                    <input class="pl-2 border-b-2 focus:outline-none" formControlName="pass" style="background-color:#B7C3F3;border-bottom-color:#9E4F6E">
                                    <div class="mt-2 mb-2" style="width: 200px;" *ngIf="formularioVecino.get('pass').hasError('required') && formularioVecino.get('pass').touched">
                                        <p-message severity="error" text="Password es obligatorio"></p-message>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="flex justify-center p-5">
                <button (click)="nuevoVecino()" class="rounded hover:bg-grey-light" style="border: 1px solid #9E4F6E;border-radius: 5px;padding: 5px;">
                    <i class="fas fa-newspaper"></i>
                    Crear
                </button>
            </div>
        </div>
    </div>
</p-scrollPanel>
<p-dialog [(visible)]="display_comunidad" [modal]="true" [style]="{width: '900px', height: '200px'}" [positionTop]=10>
    <p-header>
        Comunidad:
    </p-header>
    <div class="flex-col  m-3 border rounded" style="border-color:#9E4F6E;">
        <div class="p-3 font-bold">
            <div class="flex ">
                <div class="mr-5 flex justify-start">
                    <div>
                        Id
                    </div>
                </div>
                <div class="w-1/4 flex justify-start">
                    <div>
                        Nombre
                    </div>
                </div>
                <div class="w-1/4 flex justify-start">
                    <div>
                        Direccion
                    </div>
                </div>
                <div class="w-1/4 flex justify-start">
                    <div>
                        Nif
                    </div>
                </div>
                <div class="w-1/4 flex justify-start">
                    <div>
                        Iban
                    </div>
                </div>
                <div class="w-1/4 flex justify-start">
                    <div>
                        Sufijo
                    </div>
                </div>
                <div class="w-1/4 flex justify-start">
                    <div>
                        Seleccionar
                    </div>
                </div>
            </div>
            <div class="border-b w-full mt-2" style="border-color:#9E4F6E;">
            </div>
            <div class="flex" *ngFor="let comunidad of comunidades">
                <div class="mr-5 flex justify-start">
                    {{comunidad.id}}
                </div>
                <div class="w-1/4 flex justify-start">
                    {{comunidad.nombre}}
                </div>
                <div class="w-1/4 flex justify-start">
                    {{comunidad.direccion}}
                </div>
                <div class="w-1/4 flex justify-start">
                    {{comunidad.nif}}
                </div>
                <div class="w-1/4 flex justify-start">
                    {{comunidad.iban}}
                </div>
                <div class="w-1/4 flex justify-start">
                    {{comunidad.sufijo}}
                </div>
                <div class="w-1/4 flex justify-start">
                    <button (click)="saveComunidad(comunidad)">
                        <i class="fas fa-check"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</p-dialog>


<p-dialog [(visible)]="display_poblacion" [modal]="true" [style]="{width: '500px', height: '200px'}" [positionTop]=10>
    <p-header>
        Poblacion:
    </p-header>
    <div class="flex-col  m-3 border rounded" style="border-color:#9E4F6E;">
        <div class="p-3 font-bold justify-center">
            <div class="flex ">
                <div class="w-1/4 flex justify-center">Cod postal</div>
                <div class="w-1/4 flex justify-center">
                    <div>
                        Descripcion
                    </div>
                </div>
                <div class="w-1/4 flex justify-center">
                    <div>
                        Provincia
                    </div>
                </div>
                <div class="w-1/4 flex justify-center">
                    <div>
                        Selecciona
                    </div>
                </div>
            </div>
            <div class="border-b w-full mt-2" style="border-color:#9E4F6E;">
            </div>
            <div class="flex" *ngFor="let poblacion of poblaciones">
                <div class="w-1/4 flex justify-center">
                    {{poblacion.cod_postal}}
                </div>
                <div class="w-1/4 flex justify-center">
                    {{poblacion.descripcion}}
                </div>
                <div class="w-1/4 flex justify-center">
                    {{poblacion.cod_provincia.descripcion}}
                </div>
                <div class="w-1/4 flex justify-center">
                    <button (click)="savePoblacion(poblacion)">
                        <i class="fas fa-check"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</p-dialog>

<p-dialog [(visible)]="display_tipovecino" [modal]="true" [style]="{width: '500px', height: '200px'}" [positionTop]=10>
    <p-header>
        Tipo de vecinos:
    </p-header>
    <div class="flex-col  m-3 border rounded" style="border-color:#9E4F6E;">
        <div class="p-3 font-bold justify-center">
            <div class="flex ">
                <div class="w-1/4">Id</div>
                <div class="w-1/3 flex justify-center">
                    <div>
                        Descripcion
                    </div>
                </div>
                <div class="w-1/3">
                    <div class="float-right">
                        Selecciona
                    </div>
                </div>
            </div>
            <div class="border-b w-5/6 mt-2" style="border-color:#9E4F6E;">
            </div>
            <div class="flex" *ngFor="let tipovecino of tipovecinos">
                <div class="w-1/3 ">
                    {{tipovecino.id}}
                </div>
                <div class="w-1/4">
                    {{tipovecino.descripcion}}
                </div>
                <div class="">
                    <button (click)="saveVecino(tipovecino)" style="margin-left: 90px">
                        <i class="fas fa-check"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</p-dialog>

<p-toast position="bottom-right" [style]="{marginTop: '80px'}">
</p-toast>