/* You can add global styles to this file, and also import other style files */

.titulo {
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
}
.contenido {
  font-family: "IBM Plex Serif", serif;
}
.custom .ui-scrollpanel-bar {
  background-color: #9E4F6E; 
  opacity: 1; 
  transition: background-color .3s; 
}
.custom2 .ui-scrollpanel-bar {
  background-color: #404E5C; 
  opacity: 1; 
  transition: background-color .3s; 
}