<div class="flex">
    <div *ngIf="!seleccionado">
        Selecciona un vecino o crea uno nuevo
    </div>
</div>

<div class="flex">
    <div *ngIf="seleccionado">
        <form [formGroup]="formularioVecino">
            <div class="flex flex-col m-3 border-l-2 border-black h-16" style="border-color:#9E4F6E;">
                <div class="pl-3 pt-2 font-bold">
                    <p>Id:</p>
                </div>
                <div class="pl-3 pt-2">
                    <input class="pl-2 border-b-2 focus:outline-none" formControlName="id" style="background-color:#B7C3F3;border-bottom-color:#9E4F6E">
                </div>
            </div>
            <div class="flex flex-col m-3 border-l-2 border-black h-16" style="border-color:#9E4F6E;">
                <div class="pl-3 pt-2 font-bold">
                    <p>Nombre:</p>
                </div>
                <div class="pl-3 pt-2">
                    <input class="pl-2 border-b-2 focus:outline-none" formControlName="nombre" style="background-color:#B7C3F3;border-bottom-color:#9E4F6E">
                </div>
            </div>
            <div class="flex">
                <div>
                    <div class="w-1/2">
                        <div class=" flex-col m-3 border-l-2 border-black h-16" style="border-color:#9E4F6E;">
                            <div class="pl-3 pt-2 font-bold">
                                <p>Direccion:</p>
                            </div>
                            <div class="pl-3 pt-2">
                                <input class="pl-2 border-b-2 focus:outline-none" formControlName="direccion" style="background-color:#B7C3F3;border-bottom-color:#9E4F6E">
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="w-1/2">
                        <div class="flex-col m-3 border-l-2 border-black h-16" style="border-color:#9E4F6E;">
                            <div class="pl-3 pt-2 font-bold">
                                <p>Numero:</p>
                            </div>
                            <div class="pl-3 pt-2">
                                <input class="pl-2 border-b-2 focus:outline-none" formControlName="numero" style="background-color:#B7C3F3;border-bottom-color:#9E4F6E">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input formControlName="nif">
            <input formControlName="iban">
            <input formControlName="num_mandato">
            <input formControlName="fecha_mandato">
            <input formControlName="porcentaje_participacion">
            <input formControlName="comunidad">
            <button (click)="showDialog('comunidad')">
                <i class="fas fa-arrows-alt"></i>
            </button>
            <input formControlName="email">
            <input formControlName="telefono">
            <input formControlName="id_tipovecino">
            <button (click)="showDialog('tipovecino')">
                <i class="fas fa-arrows-alt"></i>
            </button>
            <input formControlName="poblacion">
            <button (click)="showDialog('poblacion')">
                <i class="fas fa-arrows-alt"></i>
            </button>
            <input formControlName="login">
            <input formControlName="pass">
        </form>
        <button (click)="editVecino()"> Edit</button>
    </div>
</div>
<p-dialog [(visible)]="display_comunidad" [modal]="true">
    <p-header>
        display_comunidad
    </p-header>
    <div class="flex">
        <div>
            id
        </div>
        <div>
            nombre
        </div>
        <div>
            direccion
        </div>
        <div>
            nif
        </div>
        <div>
            iban
        </div>
        <div>
            sufijo
        </div>
    </div>
    <div class="flex" *ngFor="let comunidad of comunidades">
        <div>
            {{comunidad.id}}
        </div>
        <div>
            {{comunidad.nombre}}
        </div>
        <div>
            {{comunidad.direccion}}
        </div>
        <div>
            {{comunidad.nif}}
        </div>
        <div>
            {{comunidad.iban}}
        </div>
        <div>
            {{comunidad.sufijo}}
        </div>
        <button (click)="saveComunidad(comunidad)">
            <i class="fas fa-check"></i>
        </button>
    </div>
    <p-footer>
        //buttons
    </p-footer>
</p-dialog>
<p-dialog [(visible)]="display_tipovecino" [modal]="true">
    <p-header>
        display_tipovecino
    </p-header>
    <div class="flex">
        <div>
            id
        </div>
        <div>
            descripcion
        </div>
    </div>
    <div class="flex" *ngFor="let tipovecino of tipovecinos">
        <div>
            {{tipovecino.id}}
        </div>
        <div>
            {{tipovecino.descripcion}}
        </div>
        <button (click)="saveVecino(tipovecino)">
            <i class="fas fa-check"></i>
        </button>
    </div>
    <p-footer>
        //buttons
    </p-footer>
</p-dialog>
<p-dialog [(visible)]="display_poblacion" [modal]="true">
    <p-header>
        display_poblacion
    </p-header>
    <div class="flex">
        <div>
            Cod postal
        </div>
        <div>
            descripcion
        </div>
        <div>
            provincia
        </div>
    </div>
    <div class="flex" *ngFor="let poblacion of poblaciones">
        <div>
            {{poblacion.cod_postal}}
        </div>
        <div>
            {{poblacion.descripcion}}
        </div>
        <div>
            {{poblacion.cod_provincia.descripcion}}
        </div>
        <button (click)="savePoblacion(poblacion)">
            <i class="fas fa-check"></i>
        </button>
    </div>
    <p-footer>
        //buttons
    </p-footer>
</p-dialog>
<p-toast position="bottom-right" [style]="{marginTop: '80px'}">
</p-toast>